*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.services-reports{
  /* z-index: 9999; */
  position: absolute;
 background-color: #fdf4f4;
 border-radius: 30px;
margin-left: 70px;
margin-right: 70px;
width: 90%;
top: 650px;
box-shadow: 0 20px 20px white;
}


.services-reports .oth{
    
    /* padding: 10px 40px 10px 40px; */
    color: #1A1A1A;
    
    
}

 .section{
     position: relative;
}

.background-middle{
    /* background:linear-gradient(180deg,rgba(239, 112, 32, 1) 15%, rgba(255, 255, 255, 1) 100%)
    ,
    repeating-linear-gradient(90deg, rgb(255, 255, 255) 0%, #f8ebe7 100%); */
    width: 100%;
    height: 250px;
    position: absolute;
    top: 630px;

   background:
     

   repeating-linear-gradient(
    to right,
    transparent 15px,
    transparent 88px,
    #ff63023a 90px,
    #ff73005b 90px
  ), 
  /* Vertical orange fade (background layer) */
  linear-gradient(
    to bottom,
    #ef6f2034 2%,
    #ef6f20  10%,
    #ffffff 100%
  );  
}


.choos-loan{
padding: 2rem;

}

.row-width{
  width: 100%;
}
 .row-width .col{
  /* width: 15px !important; */
  /* height: 3rem !important; */
  margin: .2rem !important;
  padding: 0.1rem !important;
  text-align: center !important;
  width: auto;
  height: auto;
} 
.loan .title{
  margin-bottom: 1rem;
}


 .loan-title{
  /* width: %; */
}



.loan-btn{
  background-color: #F3F5F7;
  height: auto !important;
  width: auto !important;
  text-align: center;
  border: none;
  padding: 1rem;
  margin-bottom: 10px;
  border-radius: .5rem !important;
  width: 7rem !important;
   
/* background-color: red; */
  /* font-size: 8px; */
  /* margin: 3px; */
}

i{
  font-size: .6rem;
  margin-right: .4rem;
  margin-top: .5rem;
  /* color: white; */
}



.choos-loan .Interest{
  background-color: #F07120;
  width: 50%;
  border-radius: 1rem;
  color: white;
}

.loan .row .loan-btn{
  width: 120px;
  padding: 10px;
   width: auto;
   height: auto;
   text-align: center;
   
}

.loan .row .loan-btn span{
  font-size: 15px;
}

.loan .yr-btn{
  width: auto !important;
  padding: 5px 10px 5px  10px !important;
}

.open-acc{
  box-shadow: 10px 10px 50px white;
}

.open-acc .open-ac-btn{
  padding-left: 2.5rem;
}

.open-acc .open-ac-btn button{
  width: 12.5rem;
  height: 3.8rem;
  padding: 1rem;
  background-color: #F3F5F7;
  border: none;
  margin-bottom: 2rem;
  margin-right: .5rem;
  border-radius: .8rem;
  /* margin-: 2rem; */
}

.open-ac-link{
  margin-left: 2rem;
  font-weight: 500;
}

.credit-card{
 margin-left: auto;
 margin-right: auto;
  width: 87%;
  heightrem;
  padding-top: 1.5rem;
  padding-left: 2rem;
  padding-bottom: 2rem;
  padding-right: 2rem;
}
.top-title{
  color: #161616;
}

.credit-card .card-type{
  /* width: auto; */
  margin-top: 9rem;
 

}

.credit-card {
  box-shadow: 0.3rem .3rem 1rem grey;
}

.card-props{
  width: 22rem;
}

.label-icons .sub-title{
  background-color: rgba(194, 252, 207);
  width: 5rem;
  height: auto;
  text-align: center;
}

.credit-card-title{
  margin-top: 10rem;
}
.icons{
  margin-top: 11rem;
}

.sapphiro{
  background-color: #F3F5F7;
  /* height: 90%; */
  
}

.sapphiro :hover{
  box-shadow: 1rem 1rem 1rem grey;
}

.creditcard-image{
  position: absolute;
  left: 11%;
}

.creditcard-image img{
  margin-right: 1.9rem;

}

.creditcard-image img:hover{
  box-shadow: 2px 2px 10px grey;
}

/* .middle-header{
position: fixed;
top: 0;
left: 0;
right: 0;
z-index: 100;
}  */